<md-subheader md-theme="altTheme" class="md-primary">
  {{'CMS.NEWS.TITLE' | translate}} / <span class="breadcrumb_item" ng-click="goTo('/cms/news/collections')">{{'CMS.NEWS.COLLECTIONS' | translate}}</span> / <span class="breadcrumb_item" ng-click="goTo('/cms/news/collections/' + collection.id)">{{collection.name}}</span> / {{newsItem.title}}

  <md-fab-speed-dial md-open="false" md-direction="down" class="md-fling md-fab-top-right right" ng-cloak>
    <md-fab-trigger>
      <md-button class="md-fab md-primary" aria-label="Edit Menu">
        <md-icon md-svg-src="./bower_components/material-design-icons/navigation/svg/production/ic_more_vert_48px.svg"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button aria-label="Edit News" class="md-fab md-raised md-mini md-primary" ng-click="goTo('/cms/news/collections/' + collection.id + '/news/' + newsItem.id + '/edit')">
        <md-icon md-svg-src="./bower_components/material-design-icons/editor/svg/production/ic_mode_edit_48px.svg"></md-icon>
        <md-tooltip md-direction="left">
          {{'CMS.NEWS.EDIT_NEWS' | translate}}
        </md-tooltip>
      </md-button>
      <md-button aria-label="Delete News" class="md-fab md-raised md-mini md-primary" ng-click="showDeleteNewsConfirmationForm($event)">
        <md-icon md-svg-src="./bower_components/material-design-icons/action/svg/production/ic_delete_48px.svg"></md-icon>
        <md-tooltip md-direction="left">
          {{'CMS.NEWS.DELETE_COLLECTION' | translate}}
        </md-tooltip>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</md-subheader>


<md-progress-circular class="action-loading md-accent" md-mode="{{actionLoading}}"></md-progress-circular>
<div class="md-list-item-text" layout="column">
  <h3>{{newsItem.title}}</h3>
  <h4>{{ newsItem.begin }} - {{ newsItem.end }}</h4>
</div>
