<md-subheader md-theme="altTheme" class="md-primary">
  {{'CMS.NEWS.TITLE' | translate}} / <span class="breadcrumb_item" ng-click="goTo('/cms/news/collections')">{{'CMS.NEWS.COLLECTIONS' | translate}}</span> / <span class="breadcrumb_item" ng-click="goTo('/cms/news/collections/' + collection.id)">{{collection.name}}</span> / {{newsItem.title}}

  <md-fab-speed-dial md-open="false" md-direction="down" class="md-fling md-fab-top-right right" ng-cloak>
    <md-fab-trigger>
      <md-button class="md-fab md-primary" aria-label="Edit Menu">
        <md-icon md-svg-src="./bower_components/material-design-icons/navigation/svg/production/ic_more_vert_48px.svg"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button aria-label="Edit News" class="md-fab md-raised md-mini md-primary" ng-click="goTo('/cms/news/collections/' + collection.id + '/news/' + newsItem.id + '/edit')">
        <md-icon md-svg-src="./bower_components/material-design-icons/editor/svg/production/ic_mode_edit_48px.svg"></md-icon>
        <md-tooltip md-direction="left">
          {{'CMS.NEWS.EDIT_NEWS' | translate}}
        </md-tooltip>
      </md-button>
      <md-button aria-label="Delete News" class="md-fab md-raised md-mini md-primary" ng-click="showDeleteNewsConfirmationForm($event)">
        <md-icon md-svg-src="./bower_components/material-design-icons/action/svg/production/ic_delete_48px.svg"></md-icon>
        <md-tooltip md-direction="left">
          {{'CMS.NEWS.DELETE_NEWS' | translate}}
        </md-tooltip>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</md-subheader>

<div layout layout-align="center center">
  <div md-whiteframe="8" layout="column" flex="70" layout-padding>
    <h3 class="md-display-1">{{newsItem.title}}</h3>
    <br/>
    <p class="md-body-2" ta-bind ng-model="newsItem.content"></p>
    <br/>
    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                  md-row-height-gt-md="1:1" md-row-height="1:1"
                  md-gutter="12px" md-gutter-gt-sm="8px" >

      <md-grid-tile ng-if="newsItem.picture != null">
        <loading-md-grid-tile-content url="newsItem.picture.path" on-hover-display="false" ng-cloak>
        </loading-md-grid-tile-content>
      </md-grid-tile>

    </md-grid-list>
    <md-toolbar class="md-primary md-hue-1">
      <div class="md-toolbar-tools">
        <h2>
          <span ng-if="(newsItem.begin == undefined || newsItem.begin == null || newsItem.begin == '') && (newsItem.end == undefined || newsItem.end == null || newsItem.end == '')" translate="CMS.NEWS.FORM.ALWAYS_DISPLAY"></span>
          <span ng-if="(newsItem.begin != undefined && newsItem.begin != null && newsItem.begin != '') && (newsItem.end == undefined || newsItem.end == null || newsItem.end == '')" translate="CMS.NEWS.FORM.FROM_BEGIN_DISPLAY" translate-values='{ BEGIN: newsItem.beginText}'></span>
          <span ng-if="(newsItem.begin != undefined && newsItem.begin != null && newsItem.begin != '') && (newsItem.end != undefined && newsItem.end != null && newsItem.end != '')" translate="CMS.NEWS.FORM.BEGIN_TO_END_DISPLAY" translate-values='{ BEGIN: newsItem.beginText, END: newsItem.endText}'></span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
  </div>
</div>
