<md-toolbar md-theme="altTheme">
  <div class="md-toolbar-tools">

    <md-icon md-svg-icon="./bower_components/material-design-icons/action/svg/production/ic_dashboard_48px.svg"></md-icon>

    <p>
      &nbsp; {{'MENU.DASHBOARD' | translate}}
    </p>

    <span flex></span>

    <div class="md-accent menu_sidebar_switch" layout layout-align="center center" ng-click="toggleLeft()">
      <md-icon md-svg-icon="./bower_components/material-design-icons/navigation/svg/production/ic_menu_48px.svg"></md-icon>
    </div>
  </div>
</md-toolbar>
<md-content layout-padding>
  <md-list>
  </md-list>
</md-content>
