
<md-grid-list
  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
  md-row-height-gt-md="1:1" md-row-height="1:1"
  md-gutter="12px" md-gutter-gt-sm="8px" >
  <md-grid-tile ng-repeat="test in ['green', 'yellow', 'blue', 'red', 'gray', 'purple']" class="{{test}}">
    <md-grid-tile-footer>
      <h3>#2: (1r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile ng-repeat="test in ['green', 'yellow', 'blue', 'red', 'gray', 'purple']" class="{{test}}">
    <md-grid-tile-footer>
      <h3>#2: (1r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile ng-repeat="test in ['green', 'yellow', 'blue', 'red', 'gray', 'purple']" class="{{test}}">
    <md-grid-tile-footer>
      <h3>#2: (1r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile ng-repeat="test in ['green', 'yellow', 'blue', 'red', 'gray', 'purple']" class="{{test}}">
    <md-grid-tile-footer>
      <h3>#2: (1r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile ng-repeat="test in ['green', 'yellow', 'blue', 'red', 'gray', 'purple']" class="{{test}}">
    <md-grid-tile-footer>
      <h3>#2: (1r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile ng-repeat="test in ['green', 'yellow', 'blue', 'red', 'gray', 'purple']" class="{{test}}">
    <md-grid-tile-footer>
      <h3>#2: (1r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile ng-repeat="test in ['green', 'yellow', 'blue', 'red', 'gray', 'purple']" class="{{test}}">
    <md-grid-tile-footer>
      <h3>#2: (1r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile ng-repeat="test in ['green', 'yellow', 'blue', 'red', 'gray', 'purple']" class="{{test}}">
    <md-grid-tile-footer>
      <h3>#2: (1r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile ng-repeat="test in ['green', 'yellow', 'blue', 'red', 'gray', 'purple']" class="{{test}}">
    <md-grid-tile-footer>
      <h3>#2: (1r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile ng-repeat="test in ['green', 'yellow', 'blue', 'red', 'gray', 'purple']" class="{{test}}">
    <md-grid-tile-footer>
      <h3>#2: (1r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>
