<md-subheader md-theme="altTheme" class="md-primary">
  {{'CMS.NEWS.TITLE' | translate}} / {{'CMS.NEWS.COLLECTIONS' | translate}}

  <md-fab-speed-dial md-open="false" md-direction="down" class="md-fling md-fab-top-right" ng-cloak>
    <md-fab-trigger>
      <md-button class="md-fab md-primary" aria-label="New Menu">
        <md-icon md-svg-src="./bower_components/material-design-icons/content/svg/production/ic_add_48px.svg"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button aria-label="New Feed" class="md-fab md-raised md-mini md-primary" ng-click="showAddForm($event)">
        <md-icon md-svg-src="./bower_components/material-design-icons/action/svg/production/ic_list_48px.svg"></md-icon>
        <md-tooltip md-direction="left">
          {{'CMS.NEWS.NEW_COLLECTION' | translate}}
        </md-tooltip>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</md-subheader>
<md-content ng-if="collectionsLoaded && collections.length == 0" flex layout="column" layout-padding layout-align="center center">
  <img ng-src="./images/logos/pulseTotem_picto_medium.png">
  {{'CMS.NEWS.NO_COLLECTIONS' | translate}}
</md-content>
<md-progress-circular class="action-loading md-accent" md-mode="{{actionLoading}}"></md-progress-circular>
<md-list-item ng-if="collections.length > 0" ng-repeat="collection in collections" ng-click="goTo('/cms/news/collections/' + collection.id)">
  <md-icon md-svg-src="./bower_components/material-design-icons/action/svg/production/ic_list_48px.svg"></md-icon>
  <p> {{collection.name}} </p>
</md-list-item>
