.album_title {
  font-size: 1.6em;
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}

.album_title input {
  font-weight: bold;
  line-height: 36px;
  height: 40px;
}

.action-loading {
  position: absolute;
  margin-top: -70px;
}

.show_photo_dialog {
  width: 80%;
  height: 80%;
}

.photo_name {
  height: 39px;
  margin: 0px;
}

.photo_description {
  height: 49px;
  margin: 0px;
}

.photo_img {
  width: 500px;
  height: 500px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
