<div layout="row">
  <div ng-if="activeNavbar != ''" class="md-accent menu_sidebar_switch" layout layout-align="center center" ng-click="toggleLeft()">
    <md-icon md-svg-icon="./bower_components/material-design-icons/navigation/svg/production/ic_menu_48px.svg"></md-icon>
  </div>
  <div class="md-toolbar-tools menu-default-tools">
    <md-menu-bar ng-if="currentTeam == null">
      <div layout="column" layout-align="center center">
        <md-button class="md-icon-button" aria-label="Library" ng-click="goTo('/teams')">
          <md-icon md-svg-icon="./bower_components/material-design-icons/social/svg/production/ic_group_48px.svg"></md-icon>
        </md-button>
        <div class="menu_submenu">
          {{'MENU.CHOOSE_TEAM' | translate}}
        </div>
      </div>
    </md-menu-bar>

    <md-menu-bar ng-if="currentTeam != null" ng-class="{'menu_active' : activeMenu == 'cms'}">
      <div layout="column" layout-align="center center">
        <md-button class="md-icon-button" aria-label="Library" ng-click="goTo('/cms')">
          <md-icon md-svg-icon="./bower_components/material-design-icons/image/svg/production/ic_photo_library_48px.svg"></md-icon>
        </md-button>
        <div class="menu_submenu">
          {{'MENU.LIBRARY' | translate}}
        </div>
      </div>
    </md-menu-bar>

    <span flex></span>

  </div>
  <div class="md-accent menu_sidebar_switch" layout layout-align="center center" ng-click="toggleRight()">
    <md-icon md-svg-icon="./bower_components/material-design-icons/social/svg/production/ic_person_48px.svg"></md-icon>
  </div>
</div>
